    main {
        width: 100%;
        height: 100%;
        /*background: #1E88E5;*/
        font-family: 'Roboto', Helvetica, sans-serif;
    }
    
    h1 {
        font-weight: 700;
        color: #000;
    }
    
    .row {
        height: 100vh;
        text-align: center;
    }
    
    .wrap-content {
        position: relative;
        top: 30%;
        padding-left: 2em;
        padding-right: 2em;
    }
    
    hr {
        background-color: #000;
        width: 50%;
    }
    
    button {
        margin-left: 10px;
        padding: 16px 34px;
        border: none;
        font-weight: 700;
        font-family: 'Roboto', Helvetica, sans-serif;
        font-weight: 700;
    }
    
    .add:hover {
        /*background: #004D40;*/
        color: #fff;
        outline: none;
        border: none
    }
    
    .add {
        /*background: #00796B;*/
        color: #fff;
        font-weight: 700;
        border: none;
    }
    
    .get {
        background: #000;
        color: #fff;
        font-weight: 700;
        border: none;
    }
    
    .get:hover {
        background: rgba(0,0,0,0.8);
    }
    
    p {
        font-size: 22px;
        font-family: 'Roboto', Helvetica, sans-serif;
        color: #000;
        margin-bottom: 20px;
    }
    
    @media screen and (max-width: 600px) {
        .wrap-content {
            top: 15%;
        }
        
        p {
            font-size: 16px;
        }
    }